:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: #454545;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

#page {
    max-width: 100rem;
    width: 80%;
    min-height: 50rem;
    margin: 2rem auto 2rem;
    padding: 3rem 5rem 0 5rem;

    background: #000000 url("../assets/bg.jpg") no-repeat center top;

    border-radius: 2rem;
    box-shadow: .5rem .5rem .6rem 0 rgba(32, 32, 32, 0.7);
}

header {
    display: flex;
    justify-content: space-between;    
    position: relative;
    animation: appearFromTheTop 1s;
}

@keyframes appearFromTheTop {
    0% {
        opacity: 0;
        top: -5rem;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

header img {
    max-width: 15rem;
    height: auto;
}

ul {
    display: inline-flex;
    gap: 5rem;
    height: 100%;
}

ul li {
    list-style: none;
}

ul a {
    display: flex;
    align-items: center;
    
    text-decoration: none;
    color: #fe0000;
    transition: 0.3s;
}

ul a:hover {
    color: #ffffff;
}

main {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

#wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    width: 60%;
    position: relative;
    font-size: 1.4rem;
    padding-bottom: 3rem;
    
    animation: appearFromTheRight 1s;
}

@keyframes appearFromTheRight {
    0% {
        opacity: 0;
        right: 5rem;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

#wrapper-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

#wrapper-image img {
    position: relative;
    animation: appearFromTheLeft 1s;
}

@keyframes appearFromTheLeft {
    0% {
        opacity: 0;
        right: -5rem;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.cropped {
    height: 50rem;
    object-fit: none;
    object-position: 0 8rem;
}

#characters {
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 2rem;
    position: relative;
    animation: appearFromTheBottom 1s;
}

@keyframes appearFromTheBottom {
    0% {
        opacity: 0;
        top: 5rem;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

#characters > div{
    margin: 0 auto;
    max-width: 34.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#btnChris {
    background: url("../assets/btn_chris.png") no-repeat center center;
}

#btnJill {
    background: url("../assets/btn_jill.png") no-repeat center center;
}

#btnBarry {
    background: url("../assets/btn_barry.png") no-repeat center center;
}

#btnRebecca {
    background: url("../assets/btn_rebecca.png") no-repeat center center;
}

#btnAlbert {
    background: url("../assets/btn_albert.png") no-repeat center center;
}

#btnUmbrella {
    background: url("../assets/btn_umbrella.png") no-repeat center center;
    filter: grayscale(100%);
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

#btnUmbrella span {
    position: relative;
    animation-name: show;
    animation-duration: .3s;
}

@keyframes show {
    from {
        opacity: 0;
        top:2.8rem;
    }
    to {
        opacity: 1;
        top:0;
    }
}

#btnChris, #btnJill, #btnBarry, #btnRebecca, #btnAlbert, #btnUmbrella {
    background-size: cover;
    width: 10rem;
    height: 10rem;
    transition-duration: .3s;
}

#btnChris, #btnJill, #btnBarry, #btnRebecca, #btnAlbert {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    body {
        height: auto;
    }

    #page {
        margin: 2rem auto 2rem;
        padding: 3rem 5rem;
    }

    main {
        flex-direction: column;
    }

    #wrapper-text, #wrapper-image {
        width: 100%;
    }

    #wrapper-text h1, #wrapper-text p {
        text-align: center;
    }

    .cropped {
        object-position: 0 0;
    }
}

@media only screen and (max-width: 630px) {
    body {
        height: auto;
        background: #000000;
        min-width: 21.5rem;
    }

    header {
        position: fixed;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 0;
        right: 0;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(.2rem);
        z-index: 1;
    }

    header ul {
        padding: 0;
        gap: 2rem;
    }

    #page {
        margin: 0rem;
        padding: 3rem;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    main {
        margin-top: 10rem;
        flex-direction: column;
    }

    #wrapper-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
        position: relative;
        font-size: 1.4rem;
        padding-bottom: 3rem;
        
        animation: appearFromTheRight 1s;
    }

    #wrapper-text h1, #wrapper-text p {
        text-align: center;
    }

    #wrapper-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .cropped {
        height: 50rem;
        object-fit: none;
        object-position: 0 0;
    }

    #characters {
        min-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        gap: 2rem;
        position: relative;
        animation: appearFromTheBottom 1s;
    }
}